
*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --group-color-0: rgb(18, 18, 112);
    --group-color-1: rgb(67, 131, 67);
    --group-color-2: rgb(131, 41, 75);
    --group-color-3: rgb(71, 111, 148);
}

h1, h2, h3, h4, h5, h6 {
    /* TODO: pick good fonts */
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p, div {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
}

button {
    margin: 0 auto;
}

.noselect {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
}
