
.health-bar {
    margin: 5px;
}

.life, .lost-life {
    margin: 0 2px;
}

.life:first-child, .lost-life:first-child {
    margin-left: 0;
}

.life {
    /* color: var(--group-color-0); */
    color: red;
}

.lost-life {
    color: grey;
}

