
.results-table {
    border-collapse: collapse;
    margin: 0 auto;
}

.result-total-row {
    border-top: 2px solid black;
}
.result-value {
    text-align: right;
    font-size: 25px;
}
.result-description {
    text-align: left;
}
