
*, *::before, *::after {
    box-sizing: border-box;
}

/* TODO: size dependent on page? */
.wall {
    position: relative;
    width: 400px;
    height: 320px;

    background-color: lightgray;
}

.tile {
    position: absolute;
    width: 90px;
    height: 70px;
    margin: 5px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: gray;
    color: black;

    transition: top .5s ease, left .5s ease;
}

.clue {
    text-align: center;
}

/* TODO: style selected as the next group */
.selected {
    border: 3px solid black;
}

/* these should have increase z index */
.group_0 {
    color: white;
    background-color: rgb(18, 18, 112);
}
.group_1 {
    color: white;
    background-color: rgb(67, 131, 67);
}
.group_2 {
    color: white;
    background-color: rgb(131, 41, 75);
}
.group_3 {
    color: white;
    background-color: rgb(71, 111, 148);
}

.row_0 { top:  0%; }
.row_1 { top: 25%; }
.row_2 { top: 50%; }
.row_3 { top: 75%; }
.column_0 { left:  0%; }
.column_1 { left: 25%; }
.column_2 { left: 50%; }
.column_3 { left: 75%; }

.noselect {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
}

.connection-input {
    padding: 10px;
    margin: 5px 0px;
}


.results-table {
    /* border-spacing: 1em; */
    border-collapse: collapse;
}

.result-total-row {
    border-top: 2px solid black;
}
.result-value {
    text-align: right;
}
.result-description {
    text-align: left;
}