
.timer-bar {
    height: 10px;
    margin: 0 5px;
    padding: 0;
    background-color: lightgray;
}

.timer-bar-inner {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--main-blue);
    /* transition: width .1s linear; */
    transform-origin: top left;
    
}

/* TODO: vendor prefixes */
@keyframes grow {
    from {
        transform: scaleX(0);
    }
    to {
        transform: scaleX(1);
    }
}
